In [1]:
import pandas as pd

In [ ]:
#WRDS Compustat Database

In [3]:
wrds_compustat = pd.read_csv("D:\Script\wrdssic.csv")

In [95]:
#https://wrds-www.wharton.upenn.edu/pages/get-data/compustat-capital-iq-standard-poors/compustat/north-america-daily/fundamentals-quarterly/
#Compustat Daily Updates - Fundamentals Quarterly
'''
Company Name (conm)
Ticker Symbol (tic)
CUSIP (cusip)
CIK Number (cik)
Report Date of Quarterly Earnings (rdq)
Assets - Total (atq)
Earnings Per Share (Basic) - Excluding Extraordinary Items (epspxq)

'''
'''
gvkey - 公司的全球识别码，用于唯一标识一个公司。
datadate - 数据日期，通常指的是财务报表的截止日期。
fyearq - 财务年度，指的是报告期间的会计年度。
fqtr - 财务季度，表示该数据点是属于财务年度中的哪一个季度。
indfmt - 行业格式，指出财务数据遵循的特定行业标准格式。
consol - 合并标识，表示数据是针对单一公司还是整个企业集团的合并数据。
popsrc - 数据来源标识，显示数据是来自公司公报还是其他来源。
datafmt - 数据格式，指数据的具体呈现形式（如标准格式）。
tic - 股票交易代码，公司在股票交易所的唯一代码。
cusip - CUSIP号，美国和加拿大公司股票和债券的9字符标准证券识别码。
conm - 公司名称。
curcdq - 报告货币代码，表示财务数据使用的货币单位。
datacqtr - 数据的会计季度。
datafqtr - 数据的财务季度。
rdq - 报告日期，公司财务报告发布的日期。
atq - 总资产，通常是季度数据。
epspxq - 每股收益，指的是季度基本每股收益。
cik - 中央索引键，美国证券交易委员会（SEC）用于识别公司文件的唯一编号。
costat - 公司状态，指示公司是活跃的、非活跃的或其他状态。
'''
wrds_compustat

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,cusip,conm,curcdq,datacqtr,datafqtr,rdq,atq,epspxq,cik,costat
0,1004,2010-02-28,2009,3,INDL,C,D,STD,AIR,000361105,AAR CORP,USD,2010Q1,2009Q3,2010-03-16,1324.752,0.28,1750.0,A
1,1004,2010-05-31,2009,4,INDL,C,D,STD,AIR,000361105,AAR CORP,USD,2010Q2,2009Q4,2010-07-13,1501.042,0.31,1750.0,A
2,1004,2010-08-31,2010,1,INDL,C,D,STD,AIR,000361105,AAR CORP,USD,2010Q3,2010Q1,2010-09-15,1532.733,0.37,1750.0,A
3,1004,2010-11-30,2010,2,INDL,C,D,STD,AIR,000361105,AAR CORP,USD,2010Q4,2010Q2,2010-12-15,1557.227,0.44,1750.0,A
4,1004,2011-02-28,2010,3,INDL,C,D,STD,AIR,000361105,AAR CORP,USD,2011Q1,2010Q3,2011-03-15,1655.991,0.47,1750.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539994,356128,2022-12-31,2022,4,INDL,C,D,STD,KSPI,48581R205,JOINT STOCK COMPANY KASPI KZ,USD,2022Q4,2022Q4,2024-01-19,11072.847,2.25,1985487.0,A
539995,356128,2023-03-31,2023,1,INDL,C,D,STD,KSPI,48581R205,JOINT STOCK COMPANY KASPI KZ,USD,2023Q1,2023Q1,NaN,NaN,NaN,1985487.0,A
539996,356128,2023-06-30,2023,2,INDL,C,D,STD,KSPI,48581R205,JOINT STOCK COMPANY KASPI KZ,USD,2023Q2,2023Q2,NaN,NaN,4.27,1985487.0,A
539997,356128,2023-09-30,2023,3,INDL,C,D,STD,KSPI,48581R205,JOINT STOCK COMPANY KASPI KZ,USD,2023Q3,2023Q3,2024-01-19,12734.075,2.31,1985487.0,A
539998,356128,2023-12-31,2023,4,INDL,C,D,STD,KSPI,48581R205,JOINT STOCK COMPANY KASPI KZ,USD,2023Q4,2023Q4,2024-02-29,15046.521,3.19,1985487.0,A

In [4]:
wrds_compustat.dtypes

gvkey         int64
datadate     object
fyearq        int64
fqtr          int64
indfmt       object
consol       object
popsrc       object
datafmt      object
tic          object
cusip        object
conm         object
curcdq       object
datacqtr     object
datafqtr     object
rdq          object
atq         float64
cshoq       float64
dlttq       float64
epspxq      float64
ibq         float64
ltq         float64
niq         float64
oancfy      float64
exchg       float64
cik         float64
costat       object
cshtrq      float64
dvpspq      float64
mkvaltq     float64
prccq       float64
dtype: object

In [97]:
##WRDS Link Different Databases
'''
Get Data/ Linking Queries by WRDS/ IBES CRSP Link (Beta)

'''

'\nGet Data/ Linking Queries by WRDS/ IBES CRSP Link (Beta)\n\n'

In [195]:
#edata before 2023-12-31
#score <= 1
wrds_link = pd.read_csv("D:\Script\wrdslink.csv")

wrds_link = wrds_link.sort_values(by=['NCUSIP', 'sdate'], ascending=[True, False])

wrds_link = wrds_link.drop_duplicates(subset='NCUSIP', keep='first')

wrds_link = wrds_link[(wrds_link['edate'] < '2023-12-31') & (wrds_link['SCORE'] <= 1)]
wrds_link = wrds_link.dropna(subset=['NCUSIP'])
wrds_link

      TICKER   PERMNO    NCUSIP       sdate       edate  SCORE
2922    AMFD  10015.0  00016510  1984-03-15  1986-07-08      1
29969   SODA  11307.0  00020910  1987-05-08  1993-10-14      1
134     00BV  14945.0  00030710  2014-11-20  2019-10-25      1
3627    ARPO  17869.0  00032Q10  2021-09-16  2023-12-29      1
3213    ANTQ  10031.0  00035410  1984-12-20  1985-12-31      1
...      ...      ...       ...         ...         ...    ...
32335   TOPT  90298.0  Y8897Y80  2018-04-19  2019-08-21      1
27605   RIGP  14789.0  Y8977Y10  2014-09-18  2016-12-08      1
34400   VRGY  91372.0  Y9369110  2006-06-15  2011-07-01      1
34575   VTTI  14858.0  Y9384M10  2014-09-18  2017-09-14      1
35510    WVE  15857.0  Y9530810  2015-12-17  2023-12-29      1

[28315 rows x 6 columns]

    TICKER   PERMNO    NCUSIP       sdate       edate  SCORE
0        A  60409.0  02742010  1983-10-20  1990-08-14      1
1      AAL  63845.0  01447610  1976-01-15  1997-02-21      1
2     AAPL  14593.0  03783310  1981-08-20  2023-12-29      1
3     ABBV  13721.0  00287Y10  2013-01-02  2023-12-29      1
4     ABNB  20190.0  00906610  2020-12-17  2023-12-29      1
..     ...      ...       ...         ...         ...    ...
541    WTW  85630.0  96121E10  1997-12-18  1999-09-02      1
542     WY  39917.0  96216610  1976-01-15  2023-12-29      1
543   WYNN  89533.0  98313410  2002-11-14  2023-12-29      1
546    XYL  13035.0  98419M10  2011-11-17  2023-12-29      1
549   ZBRA  76795.0  98920710  1991-09-19  2023-12-29      1

[365 rows x 6 columns]

In [131]:
wrds_link.iloc[0]

TICKER             A
PERMNO       60409.0
NCUSIP      02742010
sdate     1983-10-20
edate     1990-08-14
SCORE              1
Name: 0, dtype: object

In [107]:
#Merge Data 
# '''01 wrds compustat and link'''
# wrds_compustat_link = wrds_compustat.merge(
#     wrds_link,
#     how='left',  # 左连接，保留wrds_compustat，添加wrds_link匹配的行
#     left_on=['tic'],  # wrds_compustat中用于匹配的列
#     right_on=['TICKER']  # wrds_link中用于匹配的列
# )
# wrds_compustat_link

In [88]:
wrds_fudquarty = wrds_fudquarty.dropna(subset=['cik']) 
wrds_fudquarty['cik'] = wrds_fudquarty['cik'].astype('int64')
wrds_fudquarty.dtypes

<ipython-input-88-2f95ec0704e2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wrds_fudquarty['cik'] = wrds_fudquarty['cik'].astype('int64')

gvkey         int64
datadate     object
fyearq        int64
fqtr          int64
indfmt       object
consol       object
popsrc       object
datafmt      object
tic          object
cusip        object
conm         object
curcdq       object
datacqtr     object
datafqtr     object
rdq          object
atq         float64
epspxq      float64
cik           int64
costat       object
dtype: object

In [4]:
df_sandp500_ECT_data = pd.read_csv("D:\Script\SanP500withsentiment.csv")

In [8]:
df_sandp500_ECT_data

,Unnamed: 0,title,url,date,ticker,text,Symbol,Security,GICS Sector,GICS Sub-Industry,...,PresentationPreSpeakerSentimentResults,PresentationPreSpeakerOverallSentiment,PresentationPreSpeakerOverallSentimentScore,PresentationPreSpeakerOverallSentimentLabel,QandAPreSpeakerSentimentResults,QandAPreSpeakerOverallSentimentScore,QandAPreSpeakerOverallSentimentLabel,QandAPreAnalystSentimentResults,QandAPreAnalystOverallSentimentScore,QandAPreAnalystrOverallSentimentLabel
0,0,3M Company (MMM) Q3 2023 Earnings Call Transcript,https://seekingalpha.com/article/4642981-3m-co...,2023-10-24,MMM,3M Company (NYSE:MMM) Q3 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,"{'Bruce Jermeland': [{'label': 'Neutral', 'sco...","{'Bruce Jermeland': 'Neutral', 'Michael Roman'...","{'Bruce Jermeland': 0.0, 'Michael Roman': 0.60...","{'Bruce Jermeland': 'Neutral', 'Michael Roman'...","{'Michael Roman': [{'label': 'Positive', 'scor...","{'Michael Roman': 0.12094545403853157, 'Monish...","{'Michael Roman': 'Positive', 'Monish Patolawa...","{'Scott Davis': [{'label': 'Neutral', 'score':...","{'Scott Davis': 0.29306398410546153, 'Andrew O...","{'Scott Davis': 'Positive', 'Andrew Obin': 'Po..."
1,1,3M Company (MMM) Q2 2023 Earnings Call Transcript,https://seekingalpha.com/article/4619621-3m-co...,2023-07-25,MMM,3M Company (NYSE:MMM) Q2 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,"{'Bruce Jermeland': [{'label': 'Neutral', 'sco...","{'Bruce Jermeland': 'Neutral', 'Mike Roman': '...","{'Bruce Jermeland': 0.0, 'Mike Roman': 0.38758...","{'Bruce Jermeland': 'Neutral', 'Mike Roman': '...","{'Monish Patolawala': [{'label': 'Neutral', 's...","{'Monish Patolawala': 0.03300497972446939, 'Mi...","{'Monish Patolawala': 'Neutral', 'Mike Roman':...","{'Andrew Obin': [{'label': 'Neutral', 'score':...","{'Andrew Obin': -0.21919555688390926, 'Andrew ...","{'Andrew Obin': 'Negative', 'Andrew Kaplowitz'..."
2,2,3M Company (MMM) Q1 2023 Earnings Call Transcript,https://seekingalpha.com/article/4596435-3m-co...,2023-04-25,MMM,3M Company (NYSE:MMM) Q1 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,"{'Bruce Jermeland': [{'label': 'Neutral', 'sco...","{'Bruce Jermeland': 'Neutral', 'Mike Roman': '...","{'Bruce Jermeland': 0.0, 'Mike Roman': 0.39600...","{'Bruce Jermeland': 'Neutral', 'Mike Roman': '...","{'Mike Roman': [{'label': 'Positive', 'score':...","{'Mike Roman': 0.24210302513322712, 'Monish Pa...","{'Mike Roman': 'Positive', 'Monish Patolawala'...","{'Andrew Kaplowitz': [{'label': 'Positive', 's...","{'Andrew Kaplowitz': 0.15746948917706807, 'Ste...","{'Andrew Kaplowitz': 'Positive', 'Stephen Tusa..."
3,3,3M Company (MMM) Q4 2022 Earnings Call Transcript,https://seekingalpha.com/article/4571946-3m-co...,2023-01-24,MMM,3M Company (NYSE:MMM) Q4 2022 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,"{'Bruce Jermeland': [{'label': 'Neutral', 'sco...","{'Bruce Jermeland': 'Neutral', 'Mike Roman': '...","{'Bruce Jermeland': 0.04166665176550547, 'Mike...","{'Bruce Jermeland': 'Neutral', 'Mike Roman': '...","{'Mike Roman': [{'label': 'Neutral', 'score': ...","{'Mike Roman': 0.03233587009864941, 'Monish Pa...","{'Mike Roman': 'Neutral', 'Monish Patolawala':...","{'Scott Davis': [{'label': 'Positive', 'score'...","{'Scott Davis': 0.0930335521697998, 'Andrew Ka...","{'Scott Davis': 'Neutral', 'Andrew Kaplowitz':..."
4,4,3M Company (MMM) Q3 2022 Earnings Call Transcript,https://seekingalpha.com/article/4548991-3m-co...,2022-10-25,MMM,3M Company (NYSE:MMM) Q3 2022 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,"{'Bruce Jermeland': [{'label': 'Neutral', 'sco...","{'Bruce Jermeland': 'Neutral', 'Mike Roman': '...","{'Bruce Jermeland': 0.0, 'Mike Roman': 0.41102...","{'Bruce Jermeland': 'Neutral', 'Mike Roman': '...","{'Mike Roman': [{'label': 'Positive', 'score':...","{'Mike Roman': 0.15713277028041817, 'Monish Pa...","{'Mike Roman': 'Positive', 'Monish Patolawala'...","{'Scott Davis': [{'label': 'Neutral', 'score':...","{'Scott Davis': 0.1518056346819951, 'Andrew Ob...","{'Scott Davis': 'Positive', 'Andrew Obin': 'Ne..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9921,9921,"Zoetis, Inc. (ZTS) CEO Juan Ramon Alaix on Q2 ...",https://seekingalpha.com/article/4282234-zoeti...,2019-08-06,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q2 2019 Results Earnin...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,"{'Steve Frank': [{'label': 'Neutral', 'score':...",NaN,"{'Steve Frank': 0.5353177855996525, 'Glenn Dav...","{'Steve Frank': 'Positive', 'Glenn David': 'Po...","{'Glenn David': [{'label': 'Neutral', 'score':...",{'Glenn David': 0.12816805839538575},{'Glenn David': 'Positive'},"{'Kevin Ellich': [{'label': 'Neutral', 'score'...","{'Kevin Ellich': 0.2557206153869629, 'Jon Bloc...","{'Kevin Ellich': 'Positive', 'Jon Block': 'Neu..."
9922,9922,"Zoetis, Inc. (ZTS) CEO Juan Ramon Alaix on Q1 ...",https://seekingalpha.com/article/4259182-zoeti...,2019-05-02,ZTS,Zoetis Inc. (NYSE:ZTS) Q1 2019 Earnings Confer...,ZTS,Zoetis,Health Care,Pharmaceuticals,...,"{'Steve Frank': [{'label': 'Positive', 'score'...",NaN,"{'Steve Frank': 0.329923025871578, 'Glenn Davi...","{'Steve Frank': 'Positive', 'Glenn David': 'Po...","{'Glenn David': [{'label': 'Neutral', 'score':...",{'Glenn David': 0.17861527830710208},{'Glenn David': 'Positive'},"{'Erin Wright': [{'label': 'Neutral', 'score':...","{'Erin Wright': 0.2903199964954007, 'Louise Ch...","{'Erin Wright': 'Positive', 'Louise Chen': 'Ne..."
9923,9923,"Zoetis, Inc. (ZTS) CEO Juan Ramón Alaix on Q4 ...",https://seekingalpha.com/article/4241305-zoeti...,2019-02-14,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q4 2018 Earnings Confe...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,"{'Steve Frank': [{'label': 'Neutral', 'score':...",NaN,"{'Steve Frank': 0.4936480249677386, 'Glenn Dav...","{'Steve Frank': 'Positive', 'Glenn David': 'Po...","{'Glenn David': [{'label': 'Neutral', 'score':...",{'Glenn David': 0.18352891764742263},{'Glenn David': 'Positive'},"{'Michael Ryskin': [{'label': 'Neutral', 'scor...","{'Michael Ryskin': 0.08447565635045369, 'Kevin...","{'Michael Ryskin': 'Neutral', 'Kevin Ellich': ..."
9924,9924,Zoetis (ZTS) Q3 2018 Results - Earnings Call T...,https://seekingalpha.com/article/4217256-zoeti...,2018-11-01,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q3 2018 Earnings Call ...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,{},NaN,{},{},{},{},{},{},{},{}
9925,9925,Zoetis (ZTS) Q2 2018 Results - Earnings Call T...,https://seekingalpha.com/article/4193916-zoeti...,2018-08-02,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q2 2018 Earnings Call ...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,{},NaN,{},{},{},{},{},{},{},{}

In [70]:
df_sandp500_ECT_data.dtypes

Unnamed: 0                                      int64
title                                          object
url                                            object
date                                           object
ticker                                         object
text                                           object
Symbol                                         object
Security                                       object
GICS Sector                                    object
GICS Sub-Industry                              object
Headquarters Location                          object
Date added                                     object
CIK                                             int64
Founded                                        object
Presentation                                   object
QandA                                          object
CompanyParticipants                            object
CallParticipants                               object
PresentationPreSpeaker                         object
QandAPreASpeaker                               object
QandAPreQAnalyst                               object
SentimentResults                               object
PresentationPreSpeakerSentimentResults         object
PresentationPreSpeakerOverallSentiment         object
PresentationPreSpeakerOverallSentimentScore    object
PresentationPreSpeakerOverallSentimentLabel    object
QandAPreSpeakerSentimentResults                object
QandAPreSpeakerOverallSentimentScore           object
QandAPreSpeakerOverallSentimentLabel           object
QandAPreAnalystSentimentResults                object
QandAPreAnalystOverallSentimentScore           object
QandAPreAnalystrOverallSentimentLabel          object
quarter_transformed                            object
dtype: object

In [5]:
df_sandp500_ECT_data['date'] = pd.to_datetime(df_sandp500_ECT_data['date']).dt.strftime('%Y-%m-%d')
df_sandp500_ECT_data['date']

0       2023-10-24
1       2023-07-25
2       2023-04-25
3       2023-01-24
4       2022-10-25
           ...
9921    2019-08-06
9922    2019-05-02
9923    2019-02-14
9924    2018-11-01
9925    2018-08-02
Name: date, Length: 9926, dtype: object

In [6]:
print(df_sandp500_ECT_data['date'].dtypes)

print(wrds_compustat['datadate'].dtypes)

object
object

object

In [8]:
import pandas as pd
import re

def extract_and_transform_quarter(title):
    # 使用正则表达式匹配格式如 "Q1 2023"
    match = re.search(r'Q[1-4]\s(\d{4})', title)
    if match:
        # 提取季度和年份
        quarter = match.group(0)
        # 转换格式为 "2023Q1"
        year, q = match.groups()[0], quarter[0:2]
        return f"{year}{q}"
    else:
        return None  

    
df_sandp500_ECT_data['quarter_transformed'] = df_sandp500_ECT_data['title'].apply(extract_and_transform_quarter)

In [13]:
df_sandp500_ECT_data['quarter_transformed'].isna().sum()


# 手动创建映射字典
manual_quarters = {
    "Accenture's (ACN) CEO Pierre Nanterme on F2Q 2018 Results - Earnings Call Transcript": "2018Q2",
    'Airbnb, Inc. (ABNB) Evercore ISI 2nd Annual Technology, Media & Telcom Conference 2022 Earnings Call Transcript': "2022Q2",
    'Alphabet Inc. (GOOG) Q3 CEO Sundar Pichai on 2021 Results - Earnings Call Transcript': "2021Q3",
    "Apple's CEO Discusses F2Q 2014 Results - Earnings Call Transcript": "2014Q2",
    'Applied Materials, Inc. (AMAT) CEO Gary Dickerson on Q4 Fiscal 2021 Result - Earnings Call Transcript': "2021Q4",
    'Best Buy Co., Inc. (BBY) CEO Corie Barry on Q2 Fiscal Year 2022 Results - Earnings Call Transcript': "2022Q2",
    'Brown-Forman Corporation (BF.B) CEO Lawson Whiting on Q1 Fiscal 2022 Results - Earnings Call Transcript': "2022Q1",
    'Campbell Soup Company (CPB) CEO on Q4 Fiscal 2021 Results - Earnings Call Transcript': "2021Q4",
    'AmerisourceBergen Corporation (ABC) CEO Steve Collis on Q4 Fiscal 2021 Results - Earnings Call Transcript': "2021Q4",
    'The Charles Schwab (SCHW) Investor Relations Interim Business Update Results - Earnings Call Transcript': "2021Q3",
    'The Clorox Company (CLX) CEO Linda Rendle on 2022 Results - Earnings Call Transcript': "2022Q1",
    'Eastman Chemical Company (EMN) CEO Mark Costa Q3 on 2021 Results - Earnings Call Transcript': "2021Q3",
    'Emerson Electric Co. (EMR) CEO Lal Karsanbhai on Q4 Fiscal 2021 Results - Earnings Call Transcript': "2021Q4",
    'The Estée Lauder Companies Inc. (EL) CEO Fabrizio Freda on Q1 Fiscal Year 2022 Results - Earnings Call Transcript': "2022Q1",
    "Twenty-First Century Fox's (FOXA) F3Q 2014 Results - Earnings Call Transcript": "2014Q3",
    'Freeport-McMoRan Inc. (FCX) Management on Citi Basic Materials Virtual Conference - Earnings Call Transcript': "2021Q3",
    'General Mills, Inc. (GIS) CEO Jeff Harmening On Q1 Fiscal 2022 Results - Earnings Call Transcript': "2022Q1",
    'Jack Henry & Associates CEO Discusses F3Q 2014 Results - Earnings Call Transcript': "2014Q3",
    'Johnson Controls International plc (JCI) CEO George Oliver on Q4 Fiscal 2021 results - Earnings Call Transcript': "2021Q4",
    'Microsoft Corporation (MSFT) CEO Satya Nadella on Q1 Fiscal 2022 Results - Earnings Call Transcript': "2022Q1",
    'Morgan Stanley. (MS) Management on Bank of America Future of Financials Virtual Conference 2020 - Earnings Call Transcript': "2020Q4",
    "News' CEO Discusses F2Q 2014 Results - Earnings Call Transcript": "2014Q2",
    "News Corporation's Management Discusses F2Q 2013 Results - Earnings Call Transcript": "2013Q2",
    'Northrop Grumman (NOC) CEO Kathy Warden presents at Baird 2020 Global Industrial Conference - Earnings Call Transcript': "2020Q4",
    "O'Reilly Automotive's (ORLY) CEO Greg Johnson on Q4 Full-Year 2020 - Earnings Call Transcript": "2020Q4",
    'Parker-Hannifin Corp. (PH) CEO Thomas Williams on Q1 Fiscal 2022 Results - Earnings Call Transcript': "2022Q1",
    "Ralph Lauren Corporation's (RL) CEO Patrice Louvet on Q2 Fiscal Year 2022 Results - Earnings Call Transcript": "2022Q2",
    'Rockwell Automation, Inc. (ROK) Blake Moret CEO on Q4 Fiscal 2021 results - Earnings Call Transcript': "2021Q4",
    'Seagate Technology Holdings plc (STX) CEO Dave Mosley on Q 2021 Fiscal Results - Earnings Call Transcript': "2021Q3",
    'The J. M. Smucker Company (SJM) CEO Mark Smucker on Q2 Fiscal 2022 Results - Earnings Call Transcript': "2022Q2",
    'The J. M. Smucker Company (SJM) CEO Mark Smucker on Q1 Fiscal 2021 Results - Earnings Call Transcript': "2021Q1",
    'Sysco Corporation (SYY) CEO Kevin Hourican on Q4 Fiscal Year 2021 Results - Earnings Call Transcript': "2021Q4",
    'The TJX Companies, Inc. (TJX) CEO Ernie Herrman on Q3 Fiscal 2021 Result - Earnings Call Transcript': "2021Q3",
    'The Walt Disney Company (DIS) CEO Bob Chapek on Q4 Fiscal Year 2021 Earnings Conference Call - Earnings Call Transcript': "2021Q4",
    "Zebra Technologies' (ZBRA) CEO Anders Gustafsson on 4Q and FY2020 Results - Earnings Call Transcript": "2020Q4",
    "Zimmer Biomet's (ZBH) CEO Dan Florin on Q3 Results - Earnings Call Transcript": "2021Q3",
    'Zoetis Inc. (ZTS) Q22023 Earnings Call Transcript': "2023Q2"
    # 添加其他条目...
}

# 填补缺失值的函数
def fill_missing_quarters(row):
    if pd.isna(row['quarter_transformed']):
        return manual_quarters.get(row['title'], row['quarter_transformed'])
    return row['quarter_transformed']

# 应用函数更新 quarter_transformed 列
df_sandp500_ECT_data['quarter_transformed'] = df_sandp500_ECT_data.apply(fill_missing_quarters, axis=1)

titles_with_na = df_sandp500_ECT_data[df_sandp500_ECT_data['quarter_transformed'].isna()]['title']
print("Titles with NaN in 'quarter_transformed':")
print(titles_with_na.tolist())

Titles with NaN in 'quarter_transformed':
[]

In [15]:
'''
datacqtr (数据的会计季度)：指的是数据所属的会计季度，这可以理解为公司财务报告所遵循的会计规则确定的时间段。这通常与财务报告的实际发布有关。
datafqtr (数据的财务季度)：通常指的是数据对应的实际或标准财务季度。这可能更多地与公司财务表现的分析和比较相关，可能涉及到公司实际的营业周期。
从earnings call transcripts中提取季度数据，这通常直接关联到财务季度（datafqtr）的数据。
原因是财务季度更直接地反映了公司对外公布的财务表现，而会计季度可能更侧重于内部会计处理和准备财务报告的时间框架。
'''
#Merge Data 
'''01 wrds compustat and ECT'''

df_sandp500_ECT_wrds_compustat = df_sandp500_ECT_data.merge(
    wrds_compustat,
    how='left',  # 左连接，保留df_sandp500_ECT_data中的所有行，添加wrds_fudquarty中匹配的行
    left_on=['CIK', 'quarter_transformed'],  # df_sandp500_ECT_data中用于匹配的列
    right_on=['cik', 'datafqtr']  # wrds_fudquarty中用于匹配的列
)

In [16]:
df_sandp500_ECT_wrds_compustat

,Unnamed: 0,title,url,date,ticker,text,Symbol,Security,GICS Sector,GICS Sub-Industry,...,niq,oancfy,exchg,cik,costat,cshtrq,dvpspq,mkvaltq,prccq,sic
0,0,3M Company (MMM) Q3 2023 Earnings Call Transcript,https://seekingalpha.com/article/4642981-3m-co...,2023-10-24,MMM,3M Company (NYSE:MMM) Q3 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,-2075.0,4694.0,11.0,66740.0,A,227245783.0,1.500,51707.9175,93.62,9997.0
1,1,3M Company (MMM) Q2 2023 Earnings Call Transcript,https://seekingalpha.com/article/4619621-3m-co...,2023-07-25,MMM,3M Company (NYSE:MMM) Q2 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,-6841.0,2784.0,11.0,66740.0,A,224431285.0,1.500,55248.8793,100.09,9997.0
2,2,3M Company (MMM) Q1 2023 Earnings Call Transcript,https://seekingalpha.com/article/4596435-3m-co...,2023-04-25,MMM,3M Company (NYSE:MMM) Q1 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,976.0,1275.0,11.0,66740.0,A,223164481.0,1.500,57986.2439,105.11,9997.0
3,3,3M Company (MMM) Q4 2022 Earnings Call Transcript,https://seekingalpha.com/article/4571946-3m-co...,2023-01-24,MMM,3M Company (NYSE:MMM) Q4 2022 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,541.0,5591.0,11.0,66740.0,A,184358421.0,1.490,65865.4604,119.92,9997.0
4,4,3M Company (MMM) Q3 2022 Earnings Call Transcript,https://seekingalpha.com/article/4548991-3m-co...,2022-10-25,MMM,3M Company (NYSE:MMM) Q3 2022 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,3859.0,3669.0,11.0,66740.0,A,613861849.0,1.490,61078.1015,110.50,9997.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9921,9921,"Zoetis, Inc. (ZTS) CEO Juan Ramon Alaix on Q2 ...",https://seekingalpha.com/article/4282234-zoeti...,2019-08-06,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q2 2019 Results Earnin...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,371.0,707.0,11.0,1555280.0,A,129323913.0,0.164,54227.9053,113.49,2834.0
9922,9922,"Zoetis, Inc. (ZTS) CEO Juan Ramon Alaix on Q1 ...",https://seekingalpha.com/article/4259182-zoeti...,2019-05-02,ZTS,Zoetis Inc. (NYSE:ZTS) Q1 2019 Earnings Confer...,ZTS,Zoetis,Health Care,Pharmaceuticals,...,312.0,389.0,11.0,1555280.0,A,145556813.0,0.164,48223.5474,100.67,2834.0
9923,9923,"Zoetis, Inc. (ZTS) CEO Juan Ramón Alaix on Q4 ...",https://seekingalpha.com/article/4241305-zoeti...,2019-02-14,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q4 2018 Earnings Confe...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,345.0,1790.0,11.0,1555280.0,A,146911031.0,0.126,41021.7335,85.54,2834.0
9924,9924,Zoetis (ZTS) Q3 2018 Results - Earnings Call T...,https://seekingalpha.com/article/4217256-zoeti...,2018-11-01,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q3 2018 Earnings Call ...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,347.0,1206.0,11.0,1555280.0,A,140316909.0,0.126,44038.5288,91.56,2834.0
9925,9925,Zoetis (ZTS) Q2 2018 Results - Earnings Call T...,https://seekingalpha.com/article/4193916-zoeti...,2018-08-02,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q2 2018 Earnings Call ...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,384.0,656.0,11.0,1555280.0,A,159947966.0,0.126,41086.2851,85.19,2834.0

In [113]:
df_sandp500_ECT_wrds_compustat.dtypes

Unnamed: 0                                       int64
title                                           object
url                                             object
date                                            object
ticker                                          object
text                                            object
Symbol                                          object
Security                                        object
GICS Sector                                     object
GICS Sub-Industry                               object
Headquarters Location                           object
Date added                                      object
CIK                                              int64
Founded                                         object
Presentation                                    object
QandA                                           object
CompanyParticipants                             object
CallParticipants                                object
PresentationPreSpeaker                          object
QandAPreASpeaker                                object
QandAPreQAnalyst                                object
SentimentResults                                object
PresentationPreSpeakerSentimentResults          object
PresentationPreSpeakerOverallSentiment          object
PresentationPreSpeakerOverallSentimentScore     object
PresentationPreSpeakerOverallSentimentLabel     object
QandAPreSpeakerSentimentResults                 object
QandAPreSpeakerOverallSentimentScore            object
QandAPreSpeakerOverallSentimentLabel            object
QandAPreAnalystSentimentResults                 object
QandAPreAnalystOverallSentimentScore            object
QandAPreAnalystrOverallSentimentLabel           object
quarter_transformed                             object
gvkey                                          float64
datadate                                        object
fyearq                                         float64
fqtr                                           float64
indfmt                                          object
consol                                          object
popsrc                                          object
datafmt                                         object
tic                                             object
cusip                                           object
conm                                            object
curcdq                                          object
datacqtr                                        object
datafqtr                                        object
rdq                                             object
atq                                            float64
epspxq                                         float64
cik                                            float64
costat                                          object
dtype: object

In [153]:
unique_values = df_sandp500_ECT_wrds_compustat['cusip'].unique()
with open('D:\Script\sandp500cusip.txt', 'w') as file:
    for value in unique_values:
        file.write(str(value) + '\n')

491

In [203]:
#提取sandp500的ticker
sandp500_ticker = pd.read_csv("D:\Script\sandp500.csv") 
sandp500_ticker['Symbol'].to_csv('D:\Script\sandp500tickers.txt', index=False, header=False)

In [204]:
#提取sandp500的CIK
sandp500_cik = pd.read_csv("D:\Script\sandp500.csv") 
sandp500_cik['CIK'].to_csv('D:\Script\sandp500ciks.txt', index=False, header=False)

In [60]:
#提取sandp500 cusip 和日期
df_sandp500_cusip_date = df_sandp500_ECT_wrds_fudquarty[['cusip', 'date']]
df_sandp500_cusip_date.to_csv('D:\Script\sandp500cusip_date.txt', sep=' ', index=False, header=False)

In [61]:
df_sandp500_ticker_date = df_sandp500_ECT_wrds_fudquarty[['Symbol', 'date']]
df_sandp500_ticker_date.to_csv('D:\Script\sandp500ticker_date.txt', sep=' ', index=False, header=False)

In [17]:
wrds_event = pd.read_csv("D:\Script\wrdsevent.csv")
wrds_event

,Model,ticker,evtdate,cret,car,bhar,nrets_est
0,Market-Adjusted Model,ORCL,2018-08-02,0.016569,0.007884,0.007850,200
1,Market-Adjusted Model,ORCL,2020-02-04,0.043661,0.009070,0.009310,200
2,Market-Adjusted Model,ORCL,2021-05-05,0.031165,0.035568,0.035905,200
3,Market-Adjusted Model,ORCL,2019-02-06,-0.015873,-0.008883,-0.008943,200
4,Market-Adjusted Model,ORCL,2021-12-09,0.139700,0.140896,0.138793,200
...,...,...,...,...,...,...,...
9697,Market-Adjusted Model,TSLA,2021-04-27,-0.047985,-0.051334,-0.051381,200
9698,Market-Adjusted Model,TSLA,2021-01-27,-0.051510,-0.032782,-0.032029,200
9699,Market-Adjusted Model,TSLA,2020-04-29,-0.021120,-0.032455,-0.033599,200
9700,Market-Adjusted Model,TSLA,2020-01-30,0.147592,0.157867,0.162459,200
9701,Market-Adjusted Model,TSLA,2019-01-31,0.049587,0.023259,0.023408,200

In [93]:
wrds_event.dtypes

Model         object
ticker        object
evtdate       object
cret         float64
car          float64
bhar         float64
nrets_est      int64
dtype: object

In [114]:
wrds_event.iloc[0]

Model        Market-Adjusted Model
ticker                        ORCL
evtdate                 2018-08-02
cret                      0.016569
car                       0.007884
bhar                       0.00785
nrets_est                      200
Name: 0, dtype: object

In [19]:
#Merge Data 
'''02 wrds compustat ECT & wrds event'''

df_sandp500_ECT_wrds_compustat_event = df_sandp500_ECT_wrds_compustat.merge(
    wrds_event,
    how='inner',  # 只保留两个数据集中都有匹配的行
    left_on=['ticker','date'],  # df_sandp500_ECT_wrds_compustat_event
    right_on=['ticker','evtdate']  # wrds_evebt中用于匹配的列
)
df_sandp500_ECT_wrds_compustat_event

,Unnamed: 0,title,url,date,ticker,text,Symbol,Security,GICS Sector,GICS Sub-Industry,...,dvpspq,mkvaltq,prccq,sic,Model,evtdate,cret,car,bhar,nrets_est
0,0,3M Company (MMM) Q3 2023 Earnings Call Transcript,https://seekingalpha.com/article/4642981-3m-co...,2023-10-24,MMM,3M Company (NYSE:MMM) Q3 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,1.500,51707.9175,93.62,9997.0,Market-Adjusted Model,2023-10-24,0.032813,0.044097,0.043280,200
1,1,3M Company (MMM) Q2 2023 Earnings Call Transcript,https://seekingalpha.com/article/4619621-3m-co...,2023-07-25,MMM,3M Company (NYSE:MMM) Q2 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,1.500,55248.8793,100.09,9997.0,Market-Adjusted Model,2023-07-25,0.079651,0.071873,0.073180,200
2,2,3M Company (MMM) Q1 2023 Earnings Call Transcript,https://seekingalpha.com/article/4596435-3m-co...,2023-04-25,MMM,3M Company (NYSE:MMM) Q1 2023 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,1.500,57986.2439,105.11,9997.0,Market-Adjusted Model,2023-04-25,-0.014931,0.006251,0.006164,200
3,3,3M Company (MMM) Q4 2022 Earnings Call Transcript,https://seekingalpha.com/article/4571946-3m-co...,2023-01-24,MMM,3M Company (NYSE:MMM) Q4 2022 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,1.490,65865.4604,119.92,9997.0,Market-Adjusted Model,2023-01-24,-0.063987,-0.075625,-0.075780,200
4,4,3M Company (MMM) Q3 2022 Earnings Call Transcript,https://seekingalpha.com/article/4548991-3m-co...,2022-10-25,MMM,3M Company (NYSE:MMM) Q3 2022 Earnings Confere...,MMM,3M,Industrials,Industrial Conglomerates,...,1.490,61078.1015,110.50,9997.0,Market-Adjusted Model,2022-10-25,0.050424,0.028067,0.028592,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9542,9921,"Zoetis, Inc. (ZTS) CEO Juan Ramon Alaix on Q2 ...",https://seekingalpha.com/article/4282234-zoeti...,2019-08-06,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q2 2019 Results Earnin...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,0.164,54227.9053,113.49,2834.0,Market-Adjusted Model,2019-08-06,0.038931,0.058405,0.056232,200
9543,9922,"Zoetis, Inc. (ZTS) CEO Juan Ramon Alaix on Q1 ...",https://seekingalpha.com/article/4259182-zoeti...,2019-05-02,ZTS,Zoetis Inc. (NYSE:ZTS) Q1 2019 Earnings Confer...,ZTS,Zoetis,Health Care,Pharmaceuticals,...,0.164,48223.5474,100.67,2834.0,Market-Adjusted Model,2019-05-02,0.018755,0.017017,0.017183,200
9544,9923,"Zoetis, Inc. (ZTS) CEO Juan Ramón Alaix on Q4 ...",https://seekingalpha.com/article/4241305-zoeti...,2019-02-14,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q4 2018 Earnings Confe...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,0.126,41021.7335,85.54,2834.0,Market-Adjusted Model,2019-02-14,0.089818,0.075552,0.077514,200
9545,9924,Zoetis (ZTS) Q3 2018 Results - Earnings Call T...,https://seekingalpha.com/article/4217256-zoeti...,2018-11-01,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q3 2018 Earnings Call ...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,0.126,44038.5288,91.56,2834.0,Market-Adjusted Model,2018-11-01,0.028720,0.009404,0.008654,200
9546,9925,Zoetis (ZTS) Q2 2018 Results - Earnings Call T...,https://seekingalpha.com/article/4193916-zoeti...,2018-08-02,ZTS,"Zoetis, Inc. (NYSE:ZTS) Q2 2018 Earnings Call ...",ZTS,Zoetis,Health Care,Pharmaceuticals,...,0.126,41086.2851,85.19,2834.0,Market-Adjusted Model,2018-08-02,0.059551,0.051051,0.050832,200

In [20]:
df_sandp500_ECT_wrds_compustat_event
# 找出并打印每个NaN值的位置
nan_locations = df_sandp500_ECT_wrds_compustat_event[df_sandp500_ECT_wrds_compustat_event.isna()].stack().index.tolist()
for loc in nan_locations:
    print(f"NaN found at row {loc[0]}, column {loc[1]}")

In [21]:
df_sandp500_ECT_wrds_compustat_event.to_csv('D:\Script\sandp500_ECT_wrds_compustat_event.csv')

In [160]:
從這之後都不行 ibes不會鏈接 可惡

In [22]:
wrds_IBES = pd.read_csv("D:\Script\wrdsibes.csv")

In [23]:
wrds_IBES

,TICKER,CUSIP,OFTIC,CNAME,MEASURE,FPI,NUMEST,MEANEST,USFIRM,FPEDATS
0,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.11,1,2018-06-30
1,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.11,1,2018-06-30
2,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.25,1,2018-09-30
3,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.25,1,2018-09-30
4,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.25,1,2018-09-30
...,...,...,...,...,...,...,...,...,...,...
68789,ZUIL,98977410,ZU,ZULILY INC,EPS,8,1,0.12,1,2015-12-31
68790,ZUIL,98977410,ZU,ZULILY INC,EPS,8,1,0.12,1,2015-12-31
68791,ZUIL,98977410,ZU,ZULILY INC,EPS,9,1,0.13,1,2015-12-31
68792,ZUIL,98977410,ZU,ZULILY INC,EPS,9,1,0.14,1,2015-12-31
68793,ZUIL,98977410,ZU,ZULILY INC,EPS,9,1,0.14,1,2015-12-31

In [24]:
# 首先确保'FPEDATS'列是日期时间类型
wrds_IBES['FPEDATS'] = pd.to_datetime(wrds_IBES['FPEDATS'])

# 提取年份和季度
wrds_IBES['Year'] = wrds_IBES['FPEDATS'].dt.year
wrds_IBES['Quarter'] = wrds_IBES['FPEDATS'].dt.quarter

# 如果需要，之后将日期格式化为字符串
wrds_IBES['Formatted_Date'] = wrds_IBES['FPEDATS'].dt.strftime('%Y-%m-%d')

# 将年份和季度组合为季度格式
wrds_IBES['Quarterly_Format'] = wrds_IBES['Year'].astype(str) + 'Q' + wrds_IBES['Quarter'].astype(str)

# 显示结果
print(wrds_IBES[['FPEDATS', 'Quarterly_Format']])

         FPEDATS Quarterly_Format
0     2018-06-30           2018Q2
1     2018-06-30           2018Q2
2     2018-09-30           2018Q3
3     2018-09-30           2018Q3
4     2018-09-30           2018Q3
...          ...              ...
68789 2015-12-31           2015Q4
68790 2015-12-31           2015Q4
68791 2015-12-31           2015Q4
68792 2015-12-31           2015Q4
68793 2015-12-31           2015Q4

[68794 rows x 2 columns]

In [192]:
'''
TICKER: 股票交易代码，用于在股票市场上唯一标识一家公司。
CUSIP: Committee on Uniform Securities Identification Procedures的缩写，是一个9位的证券识别代码，用于在美国和加拿大识别证券。
OFTIC: 通常是公司的官方股票交易代码。
MEASURE: 测量指标的类型，这里是EPS，即每股收益。
FPI: Forecast Period Indicator（预测期指示符），一个数字表示这个预测是关于哪个时间段的。
NUMEST: Number of Estimates（估计数量），表示有多少个不同的分析师或数据源提供了这个预测。
MEANEST: Mean Estimate（平均估计），这是所有提供的预测的平均值。
USFIRM: 表示这个数据是否来自于美国的公司。通常1表示是，0表示否。
FPEDATS: Forecast Period End Date（预测期结束日期），这个日期表示预测的财务指标是哪个期间结束的日期。
'''
wrds_IBES

,TICKER,CUSIP,OFTIC,CNAME,STATPERS,MEASURE,FPI,CURCODE,NUMEST,MEANEST,USFIRM,FPEDATS,Year,Quarter,Formatted_Date,Quarterly_Format
0,001J,49926D10,KN,KNOWLES CORP,2018-03-15,EPS,7,USD,1,0.11,1,2018-06-30,2018,2,2018-06-30,2018Q2
1,001J,49926D10,KN,KNOWLES CORP,2018-04-19,EPS,7,USD,1,0.11,1,2018-06-30,2018,2,2018-06-30,2018Q2
2,001J,49926D10,KN,KNOWLES CORP,2018-05-17,EPS,7,USD,1,0.25,1,2018-09-30,2018,3,2018-09-30,2018Q3
3,001J,49926D10,KN,KNOWLES CORP,2018-06-14,EPS,7,USD,1,0.25,1,2018-09-30,2018,3,2018-09-30,2018Q3
4,001J,49926D10,KN,KNOWLES CORP,2018-07-19,EPS,7,USD,1,0.25,1,2018-09-30,2018,3,2018-09-30,2018Q3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68789,ZUIL,98977410,ZU,ZULILY INC,2015-06-18,EPS,8,USD,1,0.12,1,2015-12-31,2015,4,2015-12-31,2015Q4
68790,ZUIL,98977410,ZU,ZULILY INC,2015-07-16,EPS,8,USD,1,0.12,1,2015-12-31,2015,4,2015-12-31,2015Q4
68791,ZUIL,98977410,ZU,ZULILY INC,2015-02-19,EPS,9,USD,1,0.13,1,2015-12-31,2015,4,2015-12-31,2015Q4
68792,ZUIL,98977410,ZU,ZULILY INC,2015-03-19,EPS,9,USD,1,0.14,1,2015-12-31,2015,4,2015-12-31,2015Q4
68793,ZUIL,98977410,ZU,ZULILY INC,2015-04-16,EPS,9,USD,1,0.14,1,2015-12-31,2015,4,2015-12-31,2015Q4

In [42]:
wrds_IBES['FPEDATS'] = pd.to_datetime(wrds_IBES['FPEDATS'])
print(wrds_IBES['FPEDATS'].dtypes)

datetime64[ns]

In [193]:
wrds_link['NCUSIP']

31     00097510
15     00105510
477    00195710
478    00195750
5      00282410
         ...
71     G9402V10
247    H2906T10
382    N6596X10
81     P3107610
437    V7780T10
Name: NCUSIP, Length: 519, dtype: object

In [194]:
wrds_IBES['CUSIP']

0        49926D10
1        49926D10
2        49926D10
3        49926D10
4        49926D10
           ...
68789    98977410
68790    98977410
68791    98977410
68792    98977410
68793    98977410
Name: CUSIP, Length: 68794, dtype: object

In [31]:
wrds_link = pd.read_csv("D:\Script\wrdsper.csv")
wrds_link

,DATE,COMNAM,NCUSIP,TICKER,PERMNO,EXCHCD
0,2010-01-21,TARGETED GENETICS CORP,87612M30,NaN,80577,0
1,2010-01-22,CHINA CERAMICS CO LTD,G2113X10,NaN,92475,0
2,2010-02-01,DERMA SCIENCES INC,24982750,NaN,80524,0
3,2010-02-01,ARMOUR RESIDENTIAL REIT INC,04231510,NaN,92477,0
4,2010-02-08,INTELLIGENT COMM ENTERPRISE CORP,45824F20,NaN,27204,0
...,...,...,...,...,...,...
19207,2022-10-13,ZYMEWORKS INC DE,98985Y10,ZYME,16668,1
19208,2022-12-16,ZYMEWORKS INC DE,98985Y10,ZYME,16668,3
19209,2015-08-05,ZYNERBA PHARMACEUTICALS INC,98986X10,ZYNE,15646,3
19210,2019-02-12,ZYNEX INC,98986M10,ZYXI,18418,3
19211,2023-12-28,ONEFUND TRUST,45407J40,ZZZ,24676,3

In [32]:
wrds_IBES

,TICKER,CUSIP,OFTIC,CNAME,MEASURE,FPI,NUMEST,MEANEST,USFIRM,FPEDATS,Year,Quarter,Formatted_Date,Quarterly_Format
0,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.11,1,2018-06-30,2018,2,2018-06-30,2018Q2
1,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.11,1,2018-06-30,2018,2,2018-06-30,2018Q2
2,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.25,1,2018-09-30,2018,3,2018-09-30,2018Q3
3,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.25,1,2018-09-30,2018,3,2018-09-30,2018Q3
4,001J,49926D10,KN,KNOWLES CORP,EPS,7,1,0.25,1,2018-09-30,2018,3,2018-09-30,2018Q3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68789,ZUIL,98977410,ZU,ZULILY INC,EPS,8,1,0.12,1,2015-12-31,2015,4,2015-12-31,2015Q4
68790,ZUIL,98977410,ZU,ZULILY INC,EPS,8,1,0.12,1,2015-12-31,2015,4,2015-12-31,2015Q4
68791,ZUIL,98977410,ZU,ZULILY INC,EPS,9,1,0.13,1,2015-12-31,2015,4,2015-12-31,2015Q4
68792,ZUIL,98977410,ZU,ZULILY INC,EPS,9,1,0.14,1,2015-12-31,2015,4,2015-12-31,2015Q4
68793,ZUIL,98977410,ZU,ZULILY INC,EPS,9,1,0.14,1,2015-12-31,2015,4,2015-12-31,2015Q4

In [35]:
#成功了
# #Merge Data 
'''03 wrds ibes & wrds link'''

wrds_link_ibes = wrds_IBES.merge(
    wrds_link,
    how='inner',  
    left_on=['TICKER'],  # df_sandp500_ECT_data中用于匹配的列
    right_on=['TICKER']  # wrds_link中用于匹配的列
)
wrds_link_ibes

,TICKER,CUSIP,OFTIC,CNAME,MEASURE,FPI,NUMEST,MEANEST,USFIRM,FPEDATS,Year,Quarter,Formatted_Date,Quarterly_Format,DATE,COMNAM,NCUSIP,PERMNO,EXCHCD
0,AAIT,00752J10,AATI,ADVANCED ANALOGIC TECHNOLOGIES I,EPS,7,1,-0.04,1,2010-03-31,2010,1,2010-03-31,2010Q1,2012-02-09,ISHARES TRUST,46429B37,13256,3
1,AAIT,00752J10,AATI,ADVANCED ANALOGIC TECHNOLOGIES I,EPS,7,1,-0.04,1,2010-03-31,2010,1,2010-03-31,2010Q1,2012-02-09,ISHARES TRUST,46429B37,13256,3
2,AAIT,00752J10,AATI,ADVANCED ANALOGIC TECHNOLOGIES I,EPS,7,1,-0.04,1,2010-03-31,2010,1,2010-03-31,2010Q1,2012-02-09,ISHARES TRUST,46429B37,13256,3
3,AAIT,00752J10,AATI,ADVANCED ANALOGIC TECHNOLOGIES I,EPS,8,2,-0.06,1,2010-03-31,2010,1,2010-03-31,2010Q1,2012-02-09,ISHARES TRUST,46429B37,13256,3
4,AAIT,00752J10,AATI,ADVANCED ANALOGIC TECHNOLOGIES I,EPS,8,2,-0.06,1,2010-03-31,2010,1,2010-03-31,2010Q1,2012-02-09,ISHARES TRUST,46429B37,13256,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37923,ZIP,98974X10,ZIP,ZIPCAR INC,EPS,8,1,0.20,1,2013-09-30,2013,3,2013-09-30,2013Q3,2021-05-26,ZIPRECRUITER INC,98980B10,21125,1
37924,ZIP,98974X10,ZIP,ZIPCAR INC,EPS,9,1,0.19,1,2013-12-31,2013,4,2013-12-31,2013Q4,2011-04-14,ZIPCAR INC,98974X10,12700,3
37925,ZIP,98974X10,ZIP,ZIPCAR INC,EPS,9,1,0.19,1,2013-12-31,2013,4,2013-12-31,2013Q4,2021-05-26,ZIPRECRUITER INC,98980B10,21125,1
37926,ZOOG,98978F20,ZOOG,ZOO ENTERTAINMENT INC,EPS,7,1,-0.06,1,2011-09-30,2011,3,2011-09-30,2011Q3,2010-07-13,ZOO ENTERTAINMENT INC,98978F20,12032,3
37927,ZOOG,98978F20,ZOOG,ZOO ENTERTAINMENT INC,EPS,8,1,0.05,1,2011-12-31,2011,4,2011-12-31,2011Q4,2010-07-13,ZOO ENTERTAINMENT INC,98978F20,12032,3

In [38]:
df_sandp500_ECT_wrds_compustat_event_IBES = df_sandp500_ECT_wrds_compustat_event.merge(
    wrds_link_ibes,
    how='inner',  # 左连接，保留df_sandp500_ECT_data中的所有行，添加wrds_fudquarty中匹配的行
    left_on=['cusip', 'quarter_transformed'],  # df_sandp500_ECT_data中用于匹配的列
    right_on=['CUSIP', 'Quarterly_Format']  # wrds_fudquarty中用于匹配的列
)
df_sandp500_ECT_wrds_compustat_event_IBES

Empty DataFrame
Columns: [Unnamed: 0, title, url, date, ticker, text, Symbol, Security, GICS Sector, GICS Sub-Industry, Headquarters Location, Date added, CIK, Founded, Presentation, QandA, CompanyParticipants, CallParticipants, PresentationPreSpeaker, QandAPreASpeaker, QandAPreQAnalyst, SentimentResults, PresentationPreSpeakerSentimentResults, PresentationPreSpeakerOverallSentiment, PresentationPreSpeakerOverallSentimentScore, PresentationPreSpeakerOverallSentimentLabel, QandAPreSpeakerSentimentResults, QandAPreSpeakerOverallSentimentScore, QandAPreSpeakerOverallSentimentLabel, QandAPreAnalystSentimentResults, QandAPreAnalystOverallSentimentScore, QandAPreAnalystrOverallSentimentLabel, quarter_transformed, gvkey, datadate, fyearq, fqtr, indfmt, consol, popsrc, datafmt, tic, cusip, conm, curcdq, datacqtr, datafqtr, rdq, atq, cshoq, dlttq, epspxq, ibq, ltq, niq, oancfy, exchg, cik, costat, cshtrq, dvpspq, mkvaltq, prccq, sic, Model, evtdate, cret, car, bhar, nrets_est, TICKER, CUSIP, OFTIC, CNAME, MEASURE, FPI, NUMEST, MEANEST, USFIRM, FPEDATS, Year, Quarter, Formatted_Date, Quarterly_Format, DATE, COMNAM, NCUSIP, PERMNO, EXCHCD]
Index: []

[0 rows x 89 columns]

In [35]:
wrds_IBES.iloc[674]

TICKER                    AAPL
CUSIP                 03783310
OFTIC                     AAPL
MEASURE                    EPS
FPI                          9
NUMEST                       3
MEANEST                   0.41
USFIRM                       1
FPEDATS    2014-03-31 00:00:00
Name: 674, dtype: object

In [48]:
df_sandp500_ECT_wrds_fudquarty_IRES.iloc[60]

Unnamed: 0                                                   60
title         Accenture plc (ACN) Q4 2023 Earnings Call Tran...
url           https://seekingalpha.com/article/4637934-accen...
date                                        2023-09-28 00:00:00
ticker                                                      ACN
                                    ...
FPI                                                         NaN
NUMEST                                                      NaN
MEANEST                                                     NaN
USFIRM                                                      NaN
FPEDATS                                                     NaT
Name: 60, Length: 61, dtype: object

In [211]:

# #Merge Data 
'''03 wrds ibes & wrds compustat'''

wrds_compustat_ibes = wrds_compustat.merge(
    wrds_IBES,
    how='inner',  
    left_on=['tic'],
    right_on=['TICKER']
)
wrds_compustat_ibes

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,cusip,...,FPI,CURCODE,NUMEST,MEANEST,USFIRM,FPEDATS,Year,Quarter,Formatted_Date,Quarterly_Format
0,1161,2010-03-31,2010,1,INDL,C,D,STD,AMD,007903107,...,7,USD,6,-0.25,1,2010-03-31,2010,1,2010-03-31,2010Q1
1,1161,2010-03-31,2010,1,INDL,C,D,STD,AMD,007903107,...,7,USD,5,-0.07,1,2010-03-31,2010,1,2010-03-31,2010Q1
2,1161,2010-03-31,2010,1,INDL,C,D,STD,AMD,007903107,...,7,USD,5,-0.07,1,2010-03-31,2010,1,2010-03-31,2010Q1
3,1161,2010-03-31,2010,1,INDL,C,D,STD,AMD,007903107,...,7,USD,5,-0.06,1,2010-03-31,2010,1,2010-03-31,2010Q1
4,1161,2010-03-31,2010,1,INDL,C,D,STD,AMD,007903107,...,8,USD,6,-0.26,1,2010-03-31,2010,1,2010-03-31,2010Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1838752,315887,2023-09-30,2023,3,INDL,C,D,STD,NETI,Y2294C107,...,8,USD,4,0.20,1,2012-09-30,2012,3,2012-09-30,2012Q3
1838753,315887,2023-09-30,2023,3,INDL,C,D,STD,NETI,Y2294C107,...,9,USD,9,0.21,1,2012-09-30,2012,3,2012-09-30,2012Q3
1838754,315887,2023-09-30,2023,3,INDL,C,D,STD,NETI,Y2294C107,...,9,USD,7,0.22,1,2012-09-30,2012,3,2012-09-30,2012Q3
1838755,315887,2023-09-30,2023,3,INDL,C,D,STD,NETI,Y2294C107,...,9,USD,7,0.22,1,2012-09-30,2012,3,2012-09-30,2012Q3
1838756,315887,2023-09-30,2023,3,INDL,C,D,STD,NETI,Y2294C107,...,9,USD,4,0.26,1,2012-12-31,2012,4,2012-12-31,2012Q4